#ignore some file types
*~
*.class

bin/
gen/
out/
build/
dist/

#ignore some paths

/commons/nbproject/private/
/headless/nbproject/private/
/desktop/nbproject/private/
/droidcore/nbandroid/
/headdesk/nbproject/private/
/hardless/nbproject/private/
/droidless/nbandroid/

/Wifix/nbandroid/
/headless/.idea/
/trading/nbproject/private/
/trading/.idea/