#ignore some file types
*~
*.class

#ignore some paths
/AndroidApplication1/bin/
/AndroidApplication1/gen/
/cafe/build/
/cafe/nbproject/private/
/core/build/
/core/dist/
/droid/bin
/droid/gen
/EasyMail/build/
/EchoServer/build/
/FindRepe/build/
/first10digitprimeE/build/
/JarLaunch/build/
/JarLaunch/dist/
/JavaProperty/build/
/JavaProperty/dist/
/lait/build/
/lait/dist/
/MailBulk/build/
/MailBulk/dist/
/PicBulk/build/
/ScaleImage/build/
/ScaleImage/dist/
/SvnHg/build/
/TraderToolBox/bin/
/TraderToolBox/gen/
/Wifix/bin/
/Wifix/gen/

#edited in google code
#edited in github
