#ignore some file types
*~
*.class

#ignore some paths
/EasyMail/build/
/EchoServer/build/
/FindRepe/build/
/first10digitprimeE/build/
/JarLaunch/build/
/JarLaunch/dist/
/JavaProperty/build/
/JavaProperty/dist/
/lait/build/
/lait/dist/
/MailBulk/build/
/MailBulk/dist/
/PicBulk/build/
/ScaleImage/build/
/ScaleImage/dist/
/SvnHg/build/
/TraderToolBox/bin/
/TraderToolBox/gen/
#edited in google code
#edited in github
/droidcore/bin/
/droidcore/gen/
/hardcore/build/
/hardcore/dist/
/commons/dist/
/commons/build/
/headless/build/
/desktop/build/
/headless/dist/
/commons/nbproject/private/
/headless/nbproject/private/
/desktop/nbproject/private/
/droidcore/.idea/
/droidcore/nbandroid/
/headdesk/nbproject/private/
/hardless/nbproject/private/
/hardless/dist/
/hardless/build/
/headdesk/dist/
/headdesk/build/
/droidless/gen/
/droidless/bin/
/droidless/nbandroid/

/droiddesk/gen/
/droiddesk/bin/

/TraderToolBox/out
/TraderToolBox/gen
/TraderToolBox/bin